<!DOCTYPE html>
<html lang="sp" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>ADMINISTRADOR</title>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#hamburg">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Inicio</a>
        </div>
        <div class="collapse navbar-collapse" id="hamburg">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/form}">Iniciar Sesión </a></li>
                <li class="active"><a th:href="@{/RegistroMaestro}">Abrir cuenta</a></li>
                <li><a th:href="@{/form}">Alumnos </a></li>
                <li><a th:href="@{/form}">Maestros </a></li>
                <li><a th:href="@{/form}">Generar ID </a></li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <div class="btn-nav"><a class="btn btn-primary btn-small navbar-btn" href="/register">Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>



</body>
</html>