<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" th:href="@{/css/style2.css}"/>

    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS BOOTSTRAP-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<h1>404 Página de Error #1</h1>
<p class="zoom-area">¡No se ha encontrado la página que solicitaste!</p>
<section class="error-container">
    <span><span>4</span></span>
    <span>0</span>
    <span><span>4</span></span>
</section>
<div class="link-container">
    <a target="_blank" th:href="@{/}" class="more-link">Regresa a la Página de Inicio</a>
</div>

</body>
</html>