<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="UTF-8">

</head>
<body th:background="@{/img/escuela}">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Escuela</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/}">Iniciar Sesión</a></li>
            <li class="active"><a th:href="@{/form}">Abrir Cuenta</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="parent">
        <form class="form-signin form-login" th:action="@{/form}" th:object="${Usuario}" method="post">
            <h2 class="form-signin-heading">Ingrese Datos del maestro</h2>
            <br>
            <h4>Nombre</h4>
            <input type="text" class="form-control" name="nombre" th:field="*{clave}" placeholder="Ingrese el nombre del maestro" required autofocus="" />
            <br>
            <h4>Clave</h4>
            <input type="text" class="form-control" name="clave" th:field="*{email}" placeholder="Ingrese la clave del maestro" required autofocus="" />
            <br>
            <h4>E-mail</h4>
            <input type="email" class="form-control" id="email" th:field="*{contrasenia}" placeholder="E-mail" required/>
            <br>
            <h4>Materia</h4>
            <input type="text" class="form-control" id="materia" placeholder="Materia impartida" required/>
            <br>
            <br>
            <input type="hidden" th:field="*{id}">
            <input class="btn btn-lg btn-primary btn-block"  type="submit"></input>
        </form>
    </div>
</div>
</body>

<script>
    function comprobarClave(){
        password1 = document.getElementById("password").value;
        password2 = document.getElementById("password2").value;

        if (password1 == password2)
            return null;
        else
            alert("Las contraseñas son diferentes, por favor compruebelas")
    }
</script>
</html>